In [4]:
import pandas as pd
import numpy as np
import utils
import pyarrow
import pickle

In [2]:
import importlib
utils = importlib.reload(utils)  # reloads the utils module without restarting kernel

In [12]:
und_outcomes_df = pickle.load(open('C:/Users/nlsvee/Documents/JADS Y2/PROM/Assignment 2/process-mining-assignment-2/dataset/undesired_outcomes_df', 'rb'))

In [13]:
und_outcomes_df.head()

            Case ID  Undesired Outcome 2  Undesired Outcome 1
0  8b99873a6136cfa6                False                False
1  8b99873a6136cfa6                False                False
2  8b99873a6136cfa6                False                False
3  8b99873a6136cfa6                False                False
4  8b99873a6136cfa6                False                False

In [14]:
und_outcomes_df['Undesired Outcome 2'].value_counts()

False    2439988
True       74278
Name: Undesired Outcome 2, dtype: int64

In [15]:
und_outcomes_df['Undesired Outcome 1'].value_counts()

False    2507344
True        6922
Name: Undesired Outcome 1, dtype: int64

In [16]:
und_outcomes_df['Case ID'].nunique()

43809

In [47]:
undesired = und_outcomes_df[((und_outcomes_df['Undesired Outcome 1'] == True)| (und_outcomes_df['Undesired Outcome 2'] == True))]

In [48]:
undesired

                  Case ID  Undesired Outcome 2  Undesired Outcome 1
255      accaf25e4ea7629a                 True                False
256      accaf25e4ea7629a                 True                False
257      accaf25e4ea7629a                 True                False
258      accaf25e4ea7629a                 True                False
259      accaf25e4ea7629a                 True                False
...                   ...                  ...                  ...
2508550  56cf94b520017f54                 True                False
2508551  56cf94b520017f54                 True                False
2508552  56cf94b520017f54                 True                False
2508553  56cf94b520017f54                 True                False
2508554  56cf94b520017f54                 True                False

[81070 rows x 3 columns]

In [49]:
undesired['Case ID'].nunique()

5083

In [50]:
undesired['Undesired Outcome 1'].value_counts()

False    74148
True      6922
Name: Undesired Outcome 1, dtype: int64

In [51]:
undesired['Undesired Outcome 2'].value_counts()

True     74278
False     6792
Name: Undesired Outcome 2, dtype: int64

In [52]:
duplicate = undesired[((undesired['Undesired Outcome 1'] == True) & (undesired['Undesired Outcome 2'] == True))]

In [53]:
duplicate

                  Case ID  Undesired Outcome 2  Undesired Outcome 1
260831   095ffc8dd79aae27                 True                 True
260832   095ffc8dd79aae27                 True                 True
260833   095ffc8dd79aae27                 True                 True
260834   095ffc8dd79aae27                 True                 True
260836   095ffc8dd79aae27                 True                 True
...                   ...                  ...                  ...
2043646  7bbf58a7b5e3a571                 True                 True
2043647  7bbf58a7b5e3a571                 True                 True
2043648  7bbf58a7b5e3a571                 True                 True
2043649  7bbf58a7b5e3a571                 True                 True
2043650  7bbf58a7b5e3a571                 True                 True

[130 rows x 3 columns]

In [54]:
cases = duplicate['Case ID'].tolist()

In [55]:
undesired[undesired['Case ID'].isin(cases)]

                  Case ID  Undesired Outcome 2  Undesired Outcome 1
260752   095ffc8dd79aae27                False                 True
260753   095ffc8dd79aae27                False                 True
260754   095ffc8dd79aae27                False                 True
260755   095ffc8dd79aae27                False                 True
260756   095ffc8dd79aae27                False                 True
...                   ...                  ...                  ...
2043646  7bbf58a7b5e3a571                 True                 True
2043647  7bbf58a7b5e3a571                 True                 True
2043648  7bbf58a7b5e3a571                 True                 True
2043649  7bbf58a7b5e3a571                 True                 True
2043650  7bbf58a7b5e3a571                 True                 True

[850 rows x 3 columns]

In [56]:
undesired = undesired.sort_values(by = 'Undesired Outcome 2', ascending = False).groupby('Case ID', as_index = False).first()

In [57]:
undesired[undesired['Case ID'].isin(cases)]

               Case ID  Undesired Outcome 2  Undesired Outcome 1
16    00d49f179074ae53                 True                 True
175   095ffc8dd79aae27                 True                 True
354   1247d4083d7d565d                 True                 True
398   13d5a04a7ccf8108                 True                 True
1960  63671868377f889e                 True                 True
2005  658552910da49aaf                 True                 True
2414  7bbf58a7b5e3a571                 True                 True
2751  8d615ed7b9ed16cc                 True                 True
4451  e19f821d86fc80eb                 True                 True
4693  ed40a75301a80c51                 True                 True

In [58]:
undesired

               Case ID  Undesired Outcome 2  Undesired Outcome 1
0     0002505cb62792e4                 True                False
1     000612b48d30de74                 True                False
2     000843b028f083e2                 True                False
3     001e236406ebe7a2                 True                False
4     0028c768e5332b7d                 True                False
...                ...                  ...                  ...
5078  ffe522a13491cefd                 True                False
5079  ffe6c2b90896445e                 True                False
5080  ffebb3a36fc7caee                 True                False
5081  fff750353a66eba6                 True                False
5082  fffadf8d083df3d5                 True                False

[5083 rows x 3 columns]

In [67]:
for row in undesired.index:
    if undesired.iloc[row]['Undesired Outcome 2'] == True and undesired.iloc[row]['Undesired Outcome 1'] == True:
        undesired.loc[row, 'Both'] = True
    else:
        undesired.loc[row,'Both'] = False

Include non-undesired outcomes:

In [160]:
df = utils.load_parquet()

In [161]:
df = df['Case ID'].drop_duplicates()

In [164]:
df = df.to_frame()

In [165]:
df['Normal'] = 'True'

In [166]:
df
complete = undesired.append(df)

In [167]:
complete

,Case ID,Undesired Outcome 2,Undesired Outcome 1,Both,Normal
0,0002505cb62792e4,True,False,False,NaN
1,000612b48d30de74,True,False,False,NaN
2,000843b028f083e2,True,False,False,NaN
3,001e236406ebe7a2,True,False,False,NaN
4,0028c768e5332b7d,True,False,False,NaN
...,...,...,...,...,...
2514008,eade921440d732f4,NaN,NaN,NaN,True
2514057,74e72c66adc05ae4,NaN,NaN,NaN,True
2514111,75e5c760d8399329,NaN,NaN,NaN,True
2514154,50d70b51ed3efcdc,NaN,NaN,NaN,True
2514203,ad5dfa0b929735be,NaN,NaN,NaN,True

In [168]:
complete = complete.fillna('False')

In [169]:
complete['index'] = np.arange(len(complete))

In [170]:
complete = complete.set_index('index')

In [171]:
complete

                Case ID Undesired Outcome 2 Undesired Outcome 1   Both Normal
index
0      0002505cb62792e4                True               False  False  False
1      000612b48d30de74                True               False  False  False
2      000843b028f083e2                True               False  False  False
3      001e236406ebe7a2                True               False  False  False
4      0028c768e5332b7d                True               False  False  False
...                 ...                 ...                 ...    ...    ...
48887  eade921440d732f4               False               False  False   True
48888  74e72c66adc05ae4               False               False  False   True
48889  75e5c760d8399329               False               False  False   True
48890  50d70b51ed3efcdc               False               False  False   True
48891  ad5dfa0b929735be               False               False  False   True

[48892 rows x 5 columns]

In [172]:
complete['Normal'].value_counts()

True     43809
False     5083
Name: Normal, dtype: int64

In [173]:
utils._save_pickle(complete, 'dataset/complete_undesired_outcomes_df')