In [1]:
import pandas as pd
import numpy as np
import utils
import pyarrow
import pickle

In [2]:
import importlib
utils = importlib.reload(utils)  # reloads the utils module without restarting kernel

In [3]:
und_outcomes_df = pickle.load(open('C:/Users/nlsvee/Documents/JADS Y2/PROM/Assignment 2/process-mining-assignment-2/dataset/undesired_outcomes_df', 'rb'))

In [4]:
und_outcomes_df.head()

            Case ID  Undesired Outcome 2  Undesired Outcome 1
0  8b99873a6136cfa6                False                False
1  8b99873a6136cfa6                False                False
2  8b99873a6136cfa6                False                False
3  8b99873a6136cfa6                False                False
4  8b99873a6136cfa6                False                False

In [5]:
und_outcomes_df['Undesired Outcome 2'].value_counts()

False    2439988
True       74278
Name: Undesired Outcome 2, dtype: int64

In [6]:
und_outcomes_df['Undesired Outcome 1'].value_counts()

False    2495506
True       18760
Name: Undesired Outcome 1, dtype: int64

In [7]:
und_outcomes_df['Case ID'].nunique()

43809

In [8]:
undesired = und_outcomes_df[((und_outcomes_df['Undesired Outcome 1'] == True)| (und_outcomes_df['Undesired Outcome 2'] == True))]

In [9]:
undesired

                  Case ID  Undesired Outcome 2  Undesired Outcome 1
255      accaf25e4ea7629a                 True                False
256      accaf25e4ea7629a                 True                False
257      accaf25e4ea7629a                 True                False
258      accaf25e4ea7629a                 True                False
259      accaf25e4ea7629a                 True                False
...                   ...                  ...                  ...
2508550  56cf94b520017f54                 True                False
2508551  56cf94b520017f54                 True                False
2508552  56cf94b520017f54                 True                False
2508553  56cf94b520017f54                 True                False
2508554  56cf94b520017f54                 True                False

[91742 rows x 3 columns]

In [10]:
undesired['Case ID'].nunique()

5153

In [11]:
undesired['Undesired Outcome 1'].value_counts()

False    72982
True     18760
Name: Undesired Outcome 1, dtype: int64

In [12]:
undesired['Undesired Outcome 2'].value_counts()

True     74278
False    17464
Name: Undesired Outcome 2, dtype: int64

In [13]:
duplicate = undesired[((undesired['Undesired Outcome 1'] == True) & (undesired['Undesired Outcome 2'] == True))]

In [14]:
duplicate

                  Case ID  Undesired Outcome 2  Undesired Outcome 1
19645    0f934e6fa32099d6                 True                 True
19646    0f934e6fa32099d6                 True                 True
19647    0f934e6fa32099d6                 True                 True
19648    0f934e6fa32099d6                 True                 True
19649    0f934e6fa32099d6                 True                 True
...                   ...                  ...                  ...
2043646  7bbf58a7b5e3a571                 True                 True
2043647  7bbf58a7b5e3a571                 True                 True
2043648  7bbf58a7b5e3a571                 True                 True
2043649  7bbf58a7b5e3a571                 True                 True
2043650  7bbf58a7b5e3a571                 True                 True

[1296 rows x 3 columns]

In [15]:
cases = duplicate['Case ID'].tolist()

In [16]:
undesired[undesired['Case ID'].isin(cases)]

                  Case ID  Undesired Outcome 2  Undesired Outcome 1
19578    0f934e6fa32099d6                False                 True
19579    0f934e6fa32099d6                False                 True
19580    0f934e6fa32099d6                False                 True
19581    0f934e6fa32099d6                False                 True
19582    0f934e6fa32099d6                False                 True
...                   ...                  ...                  ...
2043646  7bbf58a7b5e3a571                 True                 True
2043647  7bbf58a7b5e3a571                 True                 True
2043648  7bbf58a7b5e3a571                 True                 True
2043649  7bbf58a7b5e3a571                 True                 True
2043650  7bbf58a7b5e3a571                 True                 True

[8993 rows x 3 columns]

In [17]:
undesired = undesired.sort_values(by = 'Undesired Outcome 2', ascending = False).groupby('Case ID', as_index = False).first()

In [18]:
undesired[undesired['Case ID'].isin(cases)]

               Case ID  Undesired Outcome 2  Undesired Outcome 1
18    00d49f179074ae53                 True                 True
138   070f2f6937be0058                 True                 True
179   095ffc8dd79aae27                 True                 True
191   0a6c753540a9e1d6                 True                 True
240   0cd71d530c6626d3                 True                 True
...                ...                  ...                  ...
4858  f13c2e8ece4b779b                 True                 True
4860  f14fc30276f7f2dd                 True                 True
4901  f3594be21af00819                 True                 True
4916  f48e116ed5e94915                 True                 True
4953  f6a5b978a809fa98                 True                 True

[89 rows x 3 columns]

In [19]:
undesired

               Case ID  Undesired Outcome 2  Undesired Outcome 1
0     0002505cb62792e4                 True                False
1     000612b48d30de74                 True                False
2     000843b028f083e2                 True                False
3     001e236406ebe7a2                 True                False
4     0028c768e5332b7d                 True                False
...                ...                  ...                  ...
5148  ffe522a13491cefd                 True                False
5149  ffe6c2b90896445e                 True                False
5150  ffebb3a36fc7caee                 True                False
5151  fff750353a66eba6                 True                False
5152  fffadf8d083df3d5                 True                False

[5153 rows x 3 columns]

In [20]:
for row in undesired.index:
    if undesired.iloc[row]['Undesired Outcome 2'] == True and undesired.iloc[row]['Undesired Outcome 1'] == True:
        undesired.loc[row, 'Both'] = True
    else:
        undesired.loc[row,'Both'] = False

In [21]:
undesired['Undesired Outcome 2'].value_counts()

True     4978
False     175
Name: Undesired Outcome 2, dtype: int64

Include non-undesired outcomes:

In [22]:
df = utils.load_parquet()

In [23]:
df = df['Case ID'].drop_duplicates()

In [24]:
df = df.to_frame()

In [25]:
df['Normal'] = 'True'

In [26]:
df
complete = undesired.append(df)

In [27]:
complete = complete.loc[(complete['Undesired Outcome 1'] == True) | (complete['Undesired Outcome 2'] == True) | ~complete['Case ID'].duplicated()]

In [28]:
#complete = complete[~((complete[['Case ID']].duplicated(keep = False)) & (complete['Undesired Outcome 1'] | complete['Undesired Outcome 2']))]
#df[~((df[['A', 'B']].duplicated(keep=False)) & (df.isnull().any(axis=1)))]

In [29]:
complete

,Case ID,Undesired Outcome 2,Undesired Outcome 1,Both,Normal
0,0002505cb62792e4,True,False,False,NaN
1,000612b48d30de74,True,False,False,NaN
2,000843b028f083e2,True,False,False,NaN
3,001e236406ebe7a2,True,False,False,NaN
4,0028c768e5332b7d,True,False,False,NaN
...,...,...,...,...,...
2514008,eade921440d732f4,NaN,NaN,NaN,True
2514057,74e72c66adc05ae4,NaN,NaN,NaN,True
2514111,75e5c760d8399329,NaN,NaN,NaN,True
2514154,50d70b51ed3efcdc,NaN,NaN,NaN,True
2514203,ad5dfa0b929735be,NaN,NaN,NaN,True

In [30]:
complete = complete.fillna(False)
complete

,Case ID,Undesired Outcome 2,Undesired Outcome 1,Both,Normal
0,0002505cb62792e4,True,False,False,False
1,000612b48d30de74,True,False,False,False
2,000843b028f083e2,True,False,False,False
3,001e236406ebe7a2,True,False,False,False
4,0028c768e5332b7d,True,False,False,False
...,...,...,...,...,...
2514008,eade921440d732f4,False,False,False,True
2514057,74e72c66adc05ae4,False,False,False,True
2514111,75e5c760d8399329,False,False,False,True
2514154,50d70b51ed3efcdc,False,False,False,True
2514203,ad5dfa0b929735be,False,False,False,True

In [31]:
complete['index'] = np.arange(len(complete))

In [32]:
complete = complete.set_index('index')

In [33]:
complete

,Case ID,Undesired Outcome 2,Undesired Outcome 1,Both,Normal
index,,,,,
0,0002505cb62792e4,True,False,False,False
1,000612b48d30de74,True,False,False,False
2,000843b028f083e2,True,False,False,False
3,001e236406ebe7a2,True,False,False,False
4,0028c768e5332b7d,True,False,False,False
...,...,...,...,...,...
43804,eade921440d732f4,False,False,False,True
43805,74e72c66adc05ae4,False,False,False,True
43806,75e5c760d8399329,False,False,False,True
43807,50d70b51ed3efcdc,False,False,False,True
43808,ad5dfa0b929735be,False,False,False,True

In [39]:
complete['Undesired Outcome 2'].value_counts()

False    38831
True      4978
Name: Undesired Outcome 2, dtype: int64

In [35]:
complete.loc[complete['Case ID'] == '5A']

Empty DataFrame
Columns: [Case ID, Undesired Outcome 2, Undesired Outcome 1, Both, Normal]
Index: []

In [36]:
utils._save_pickle(complete, 'dataset/complete_undesired_outcomes_df')